@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hi!</h1>
    <p>Let's learn about CI/CD with GitHub Actions and Azure</p>
</div>
